*{
    box-sizing: border-box;
}

h1{
    font-size: 3.5em;
}

h2{
    font-size: 2.7em;
}

h3{
    font-size: 2em;
}

p{
    font-size: 1.25em;
}

ul{
    list-style: disc;
}

li{
    font-size: 1.25em;
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    background-color: rgb(174, 88, 255);
}

button:hover{
    background-color: blueviolet;
}

body{
    margin: 0;
    background-color: rgb(255, 255, 255);
}

header{
    background-color: rgb(255, 255, 255);
    color:white
}

.container{
    max-width: 1400px;
    margin: auto;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 2em ;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    font-size: 1.5em ;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
    text-align: center;
}

#about .container{
    text-align: center;
    padding: 200px 12px;
    font-size: 1.5em ;
}

#nuestros-programas{
    background-color: rgb(26, 26, 26);
    color: white;

}

#nuestros-programas .container{
    text-align: center;
    padding: 100px 100px;
    
}

#nuestros-programas p{
    display: none;
}

#nuestros-programas li{
    list-style:none;
    padding: 5px 5px;
    font-weight: bold;
}

#nuestros-programas .carta{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    text-justify: auto;
    padding: 30px 30px;
    margin: 20px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("img/usa.png");
    width: 100%;
    
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("img/fr.png");
    width: 100%;
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("img/sp.png");
    width: 100%;
}

.color-logo{
    color:blueviolet;
    font-weight: bold;
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 12px 0px;
    font-weight: bold;
    list-style:none;
}

#registrate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 50vh;
}

#registrate button{
    font-size: 1.75em;
}

footer p{
    margin: 0;
    padding: 0;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (min-width: 720px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 6em;
    }

    #hero button{
        font-size: 2.5em;
    }

    #about .container{
        display: flex;
    }

    #about .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #about .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        
        ),url("img/about.png");
        background-size: cover;
        background-position: center center;
        height: 600px;
        width: 450px;
    }

    #nuestros-programas .carta{

        padding: 30px 30px;
        background-size: 100% 80px;
        background-repeat: no-repeat;
        background-position-y: 0 ;
        border-radius: 20px;
        margin: 20px;
        text-justify: auto;
        background-color: rgb(80, 80, 80);
        box-shadow: 2px 2px 10px rgb(0, 0, 0) ;
    }

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    #nuestros-programas .carta{
        padding: 15px;
    }

    #caracteristicas {
        background-image:url("img/about.png");
        background-repeat: no-repeat;
        background-size: 400px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: left;
    }

    #caracteristicas ul{
        text-align: 100px;
    }
  
}

@media(min-width: 1100px){
    #caracteristicas{
        background-position-x: calc(100vw - 800px) ;
    }
}