#container{
    position: relative;
    display: flex;
    align-items: center;
    isolation: isolate;

    img{
        max-height: 45px;
    }

    #tarjeta{
        background-color: #faebd7;
        border-radius: 25px 5px 5px 25px ;
        width: 90%;
        display: flex;
        align-items: center;
        padding-left: 5px;
        gap: 1rem;
        font-size: large;
        margin-left: 35px;
        cursor: context-menu;
    }

    #circulo{
        border-radius: 50%;
        height: 30px;
        aspect-ratio: 1;
        background-color: rgb(179, 179, 179);
    }

    #flecha{
        height: 15px;
        padding: 0 10px;
        position: absolute;
    }

    &.seleccionado::before{
        position: absolute;
        content: "";
        width: calc(100% + 8px);
        height: 120%;
        left: -4px;
        background-color: rgb(255, 110, 110);
        z-index: -1;
        border-radius: 5px;
    }

   
    
}